.container{
    width:60%;
    height: 900px;
    background-color: white;
    border: 5px solid black;
    margin-left:350px;
    

}



.formnameemail {
    display: flex; 
    
  }
  
  .input-fields {
    display: flex; 
    
  }
  
  .firstname,
  .lastname {
    margin-right: 10px; 
}
  
.formnameemail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .formnameemail label,
  .formnameemail input,
  .formnameemail span {
    display: block;
    margin-bottom: 10px; 
  }