.big-container{
    width:95%;
    height:2500px;
    border: 1px solid black;
    margin-left: 3%;
    margin-top: 25px;
}
.black-container{
    width:100%;
    height: 350px;
    background-color: black;
    
}
.list{
    display: inline;
     margin-left: 10%;
}

.poet-name{
    text-align: center;
}

.poetone{
    display:flex;
    flex-direction: column;
    margin-left: 25%;
}
.poettwo{
    display:flex;
    flex-direction: column;
    margin-left: 25%;

}
.button{
    margin-left: 45%;
}
.small-black{
    border: 1px solid black;
    background-color: black;
    height: 150px;
}
.award-list{
    display: flex;
    
    justify-content: space-evenly;
}
.jagatarini{
    border:1px solid black;
    width:18%;
    padding-left: 10px;
    padding-top: 25px;
}
.natpoet{
    border:1px solid black;
    width:18%;
    padding-left: 10px;
    padding-top: 25px;
}
.padak{
    border:1px solid black;
    width:18%;
    padding-left: 10px;
    padding-top: 25px;
}
.padma{
    border:1px solid black;
    width:18%;
    padding-left: 10px;
    padding-top: 25px;
}
.list-container{
    display: flex;
    justify-content: space-around;
}
.footer{
    border:1px solid black;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    padding-top: 50px;
    
}
