.container{
  width: 80%;
  height: 1200px;
  border:1px solid black;
  margin-left: 25px;
  
}
.form-label{
  display:block;
}
.form-content{
  margin-left: 1%;

  margin-top:2.5%;

}
.mb-3{
  width:25%;
  display: inline-flex;
  margin-top:15px;
}

.holders{
  display: inline;
}

.email{
  width:55%;
  margin-left: 1%;
}

.exp-Container{
  margin-left: 1%;
}
.checked {
  color: orange;
  margin-left: 1%;
}

.table-container{
}
